section.top-article{
	h1{
		color: white;
		font-size: 48px;
		text-align: center;
	}
	figure{
		display: block;
		margin: 0 auto;
		width: 280px;
		height: 2px;
		background: #00B0F2;
	}
	.top-article__category{
		font-size: 24px;
		text-align: center;
		color: white;
	}
	.top-article__wrapper{
		height: 400px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 40px;
	}
	.top-article__row{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 60px;
		row-gap: 20px;
	}
	.top-article__date{
		font-size: 24px;
		color: white;
	}
	.top-article__share{
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: 24px;
		span{
			color: white;
			display: block;
			margin-right: 15px;
		}
	}
}

@media all and (max-width: 728px) {
	section.top-article{
		h1{
			font-size: 28px;
		}
		.top-article__category{
			font-size: 22px;
		}
		.top-article__date{
			font-size: 18px;
		}
		.top-article__share{
			font-size: 18px;
		}
		.top-article__wrapper{
			gap: 20px;
		}
	}
}